<h1>Livros disponíveis:</h1>
<div class="books-container">
    <a href="/">Adicionar livro</a>
    {{#each books}}
        <div>
            #{{this.id}} - 
            <span class="bold"><a href="/book/{{this.id}}">{{this.title}}</a></span> 
            - {{this.pageqty}} páginas - <a href="/books/edit/{{this.id}}"><button>Editar</button></a>
        </div>
    {{/each}}
</div>